- type = local_assigns.fetch(:type)
- is_issue = type == :issues

%aside.issues-bulk-update.js-right-sidebar.right-sidebar{ "aria-live" => "polite", data: { 'signed-in': current_user.present? }, 'aria-label': _('Bulk update') }
  .issuable-sidebar.hidden
    = form_tag [:bulk_update, @project, type], method: :post, class: "bulk-update" do
      .block.issuable-sidebar-header
        .filter-item.inline.update-issues-btn.float-left
          = render Pajamas::ButtonComponent.new(variant: :confirm, button_options: { type: 'submit', disabled: true, class: 'js-update-selected-issues' }) do
            = _('Update all')
        = render Pajamas::ButtonComponent.new(button_options: { class: 'js-bulk-update-menu-hide float-right' }) do
          = _('Cancel')
      - if params[:state] != 'merged'
        .block
          .title
            = _('Status')
          .js-status-dropdown
      .block
        .title
          = _('Assignee')
        .filter-item
          - field_name = "update[assignee_ids][]"
          = dropdown_tag(_("Select assignee"), options: { toggle_class: "js-user-search js-update-assignee js-filter-submit js-filter-bulk-update", title: _("Assign to"), filter: true, dropdown_class: "dropdown-menu-user dropdown-menu-selectable",
            placeholder: _("Search authors"), data: { first_user: (current_user.username if current_user), null_user: true, current_user: true, project_id: @project.id, field_name: field_name } })
      - if is_issue
        = render_if_exists 'shared/issuable/epic_dropdown', parent: @project.group
      .block
        .title
          = _('Labels')
        .filter-item.labels-filter
          = render "shared/issuable/label_dropdown", classes: ["js-filter-bulk-update", "js-multiselect"], dropdown_title: _("Apply a label"), show_create: false, show_footer: false, extra_options: false, filter_submit: false, data_options: { persist_when_hide: "true", field_name: "update[label_ids][]", show_no: false, show_any: false, use_id: true, default_label: _("Labels") }, label_name: _("Select labels"), no_default_styles: true
      .block
        .title
          = _('Milestone')
        .filter-item
          = dropdown_tag(_("Select milestone"), options: { title: _("Assign milestone"), toggle_class: "js-milestone-select js-extra-options js-filter-submit js-filter-bulk-update", filter: true, dropdown_class: "dropdown-menu-selectable dropdown-menu-milestone", placeholder: _("Search milestones"), data: { show_no: true, field_name: "update[milestone_id]", project_id: @project.id, use_id: true, default_label: _("Milestone") } })
      - if is_issue
        = render_if_exists 'shared/issuable/iterations_dropdown', parent: @project.group
      - if is_issue
        = render_if_exists 'shared/issuable/health_status_dropdown', parent: @project
      .block
        .title
          = _('Subscriptions')
        .js-subscriptions-dropdown

      = hidden_field_tag "update[issuable_ids]", []
      = hidden_field_tag :state_event, params[:state_event]
